In [1]:
import pandas as pd

In [2]:
import csv
import json

# Define the input and output file names
csv_file_path = 'Train_Churn.csv'
json_file_path = 'Train_Churn.json'

# Read the CSV file and convert it to a list of dictionaries
data = []
with open(csv_file_path, mode='r', newline='') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    for row in csv_reader:
        data.append(row)

# Write the list of dictionaries to a JSON file
with open(json_file_path, mode='w') as json_file:
    json.dump(data, json_file, indent=4)

print(f"CSV data successfully converted to JSON and saved to {json_file_path}")

CSV data successfully converted to JSON and saved to Train_Churn.json

In [3]:
df = pd.read_csv("Train_Churn.csv")
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15799217,Zetticci,791,1,0,35,7,52436.20,1,1,0,161051.75,0
1,15748986,Bischof,705,1,1,42,8,166685.92,2,1,1,55313.51,0
2,15722004,Hsiung,543,0,0,31,4,138317.94,1,0,0,61843.73,0
3,15780966,Pritchard,709,0,0,32,2,0.00,2,0,0,109681.29,0
4,15636731,Ts'ai,714,1,0,36,1,101609.01,2,1,1,447.73,0